# ======================
# BUILD
# ======================
target/
*.class
*.jar
*.war

# ======================
# LOGS
# ======================
*.log

# ======================
# UPLOADS / GENERATED
# ======================
src/main/resources/static/uploads/

# ======================
# ENV / SECRETS
# ======================
.env
application.properties

# ======================
# IDE FILES
# ======================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# MAVEN WRAPPER CACHE
# ======================
.mvn/wrapper/maven-wrapper.jar

# ======================
# TEST OUTPUT
# ======================
surefire-reports/